{{- $src := .Get "src" -}}
{{- $image := resources.Get $src -}}
{{- if $image -}}
{{- $small := $image.Resize "480x webp q75" -}}
{{- $large := $image.Resize "800x webp q80" -}}
<figure><img src="{{ $small.RelPermalink }}" srcset="{{ $small.RelPermalink }} 480w, {{ $large.RelPermalink }} 800w" sizes="(max-width: 600px) 90vw, 480px" alt="{{ .Get "alt" }}" width="{{ $small.Width }}" height="{{ $small.Height }}" loading="lazy" decoding="async"><figcaption>{{ .Get "caption" }}</figcaption></figure>
{{- end -}}
